@media (max-width: 375px) {
  body {
      background-image: url('./assets/images/background-pattern-mobile.svg');
      background-size: auto;
      background-repeat: no-repeat;
      background-position: top;
  }

  .card {
    width: 90vw;
  }

  .question {
    width: 80%;
  }
}