@media (max-width: 375px) {
  body {
      background-image: url('background-pattern-mobile.svg');
      background-color: var(--light-pink);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
  }

  .card {
    width: 90vw;
    padding: 2rem;
  }
}